@use '../base/variables' as *;
@use '../base/mixins' as *;
@use 'sass:color';



@include tablet {
    .contenedor-anuncios {
        @include grid(3, 2rem);
    }
}

.anuncio {
    background-color: color.adjust($gris, $lightness: 5%);
    border: 1px solid color.adjust($gris, $lightness: -10%);

    .contenido-anuncio{
        padding: 2rem;
    }

    h3, p {
        margin: 0;
        text-align: center;
    }

    h3 {
        font-weight: $bold;
    }

    p {
        font-weight: 1.2rem;
    }

    
}

.precio {
        color: $verde;
        font-weight: $bold;
        font-size: 3rem;
    }

.iconos-caracteristicas {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0; // opcional: quita margen por defecto del ul

    li {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;                

        img {
            flex: 0 0 3rem;
            margin: 0;
        }

        p {
        font-weight: $black;
        font-size: 1.4rem;
        justify-content: center;
        align-items: center;

        }
  }
}

.resumen-propiedad {
  .precio {
    text-align: center;
  }

  p.justify {
    text-align: justify;
  }
}
