@use '../base/variables' as *;
@use '../base/mixins' as *;
@use 'sass:math';
@use 'sass:color';




/* Layout */


/* ================================
   FOOTER (PIE DE PÁGINA)
   ================================ */

/* Contenedor principal del footer */
.footer {
    /* Espaciado interno (arriba y abajo):
       - $separacion / 2 define un padding proporcional al sistema de espaciado del proyecto
       - 0 indica que no hay padding lateral */
    padding: math.div($separacion, 2);

    /* Color de fondo del footer usando variable SCSS */
    background-color: $grisOscuro;
    margin-bottom: 0;

    /* Contenedor interno del footer (generalmente para alinear contenido y navegación) */
    .contenedor-footer {
        /* Espaciado superior adicional para separar el contenido dentro del footer */
        margin-top: math.div($separacion, 2) 0;
    }

    .navegacion {
        visibility: visible;
        opacity: 1;
        height: auto;
    }

    /* Texto de derechos reservados */
    .copyright, p {
        /* Color blanco para contrastar con el fondo oscuro */
        color: $blanco;
        text-align: center;
        font-size: 1.5rem;
    }

}
