@use '../base/variables' as *;
@use '../base/mixins' as *;
@use 'sass:math';
@use 'sass:color';

/* Layout */


/* ================================
   BARRA (LOGO + NAVEGACIÓN)
   ================================ */

   /*dark mode:
    habilita o inhabilita el modo oscuro en la web
   */.derecha {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablet {
        align-items: flex-end;
    }

    .dark-mode-boton {
        width: 2rem;
        margin-top: 3rem;
        margin-bottom: 2rem;
        filter: invert(99%);

        &:hover {
            cursor: pointer;
        }

        @include tablet {
            margin-top: 0;
        }
    }
   }


   /* .barra:
   Contenedor que normalmente incluye el logo y el menú de navegación */
.barra {
    /* Activa Flexbox para alinear elementos */
    display: flex;

    /* En móvil: se organizan en columna (uno debajo del otro) */
    flex-direction: column;

    align-items: center;

    /* Separación superior para dar aire al header */
    padding-top: 3rem;

    /* Desde tablet en adelante cambia la distribución */
    @include tablet {
        /* En pantallas medianas/grandes: elementos en fila (lado a lado) */
        flex-direction: row;

        /* Se separan al máximo:
           logo a la izquierda y menú a la derecha */
        justify-content: space-between;

        align-items: flex-end; 
    }
}

/* ================================
   NAVEGACIÓN (MENÚ)
   ================================ */

/* .navegacion:
   Contenedor de los links del menú */
.navegacion {

    visibility: hidden;
    opacity: 0;
    height: 0;
    transition: visibility .3s ease-in-out, opacity 0.5s linear, height 0.5s linear;

    /* Desde tablet en adelante ajusta la disposición del menú */
    @include tablet {
        /* Los enlaces se alinean horizontalmente */
        display: flex;

        /* Alinea verticalmente los links al centro */
        align-items: center;
        opacity: 1;
        visibility: visible;
    }

    /* Estilos para cada link dentro de .navegacion */
    a {
        /* Color blanco para buen contraste sobre el header */
        color: $blanco;

        /* Quita el subrayado por defecto */
        text-decoration: none;

        /* Tamaño de letra más grande en móvil */
        font-size: 2rem;

        /* Hace que el link sea un bloque (más fácil de tocar en móvil) */
        display: block;

        /* Centra el texto en móvil */
        text-align: center;

        /* Ajustes específicos desde tablet */
        @include tablet {
            /* Espaciado entre links */
            margin-right: 2rem;

            /* Reduce un poco el tamaño para pantallas grandes */
            font-size: 1.8rem;

            /* Al último enlace le quita el margen derecho
               para evitar espacio extra al final */
            &:last-of-type {
                margin-right: 0;
            }
        }
        &:hover{
            color: color.adjust($verde, $lightness: 10%);
        }
    }
}

/** Menu de hamburguesa */

.mobile-menu {
    @include tablet {
        display: none;
    }

    img {
        padding-top: 2rem;
        width: 3rem;
    }
}

.mostrar {
    // display: flex;
    // flex-direction: column;
    
    // @include tablet {
    //     flex-direction: row;
    // }

    visibility: visible;
    opacity: 1;
    height: auto;
}
